/*body {
	margin: 3rem;
}

img {
	vertical-align: top;
}

.image-wrapper {
	width: 200px;
	height: 200px;
	margin: 10px;
	background: #212021;
}

.product-hanger-chip img {
	position: relative;
	left: 26px;
	top: 27px;
}

.product-hanger-chip {
	background: #f32;
	position: relative;
	left: 10px;
	box-shadow: -2px 10px 10px 5px rgba(0,0,0,0.4);
}

.product-heart-love img {
	position: relative;
	left: 17px;
	top: 35px;
}

.product-heart-love {
	position: absolute;
	left: 0;
	bottom: 0;
	background: #f3d300;
}

.product-cactus img {
	position: relative;
	left: 25px;
	top: 27px;
}

.product-cactus {
	background: #c51;
}*/

/* 부모, 자식 */

/*.parent {
	position: relative;
	width: 250px;
	height: 250px;
	margin-left: auto;
	margin-right: auto;
	background: #f3d300;
}

.child {
	position: absolute;
	width: 250px;
	height: 250px;
	top: 0;
	bottom: 0;
	background: #c51;
}*/

/* 부모, 자식 */

/* 웹 배너*/

.web-banner-wrapper {
	position: relative;
	margin-left: auto;
	margin-right: auto;	
	margin-top: 125px;
	width: 800px;
	height: 320px;
}

.web-banner-bg img{
	position: absolute;
}

.web-banner-wave img{
	position: absolute;
	top: 160px;
	left: 8px;
}

.web-banner-monkeys img{
	position: absolute;
	top: 80px;
	left: 10px;
}

.web-banner-monkey img{
	position: absolute;
	right: 10px;
	top: 28px;
}

.web-banner-logo img{
	position: absolute;
	top: 18px;
	left: 19px;
}

.web-banner-text img{
	position: absolute;
	top: 32px;
	left: 130px;
}

/* 웹 배너 */









