body { 
	margin: 0;
	font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif';
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

.font-color1 {
	color: #F92E28;
	text-transform: uppercase;
	font-weight: 700;
	/*letter-spacing: -0.01em;*/
}

.font-color2 {
	margin-top: 33px;
	color: #906C9A;
	text-transform: uppercase;
	font-weight: 700;
}

.font-color3 {
	margin-top: 42px;
	color: #A2AD98;
	text-transform: uppercase;
	font-weight: 700;
}

h6 {
	margin-top: 40px;
	margin-bottom: 20px;
}

p {
	margin-bottom: 57px;
	margin-left: auto;
	width: 257px;
	/* margin: 0 auto; */
	line-height: 1.25;
	font-size: 1em;
	margin-right: auto;
}

.show-grid {
	min-height: 100vh;
	background: linear-gradient(transparent 9px, hsla(343, 100%, 39%, 1) 9px);
	background-size: 1px 10px;
}

.grid-container {
	width: 960px;
	height: 100vh;
	margin-right: auto;
	margin-left: auto;
}

/* command + shift + install package -> hex to hsla */
/* command + shift + p = hsla */
/* hsla (x,x,x, 1 내려갈 수록 투명도가 생김) */

.show-grid .grid-container {
	background: linear-gradient(90deg, hsla(354, 100%, 90%, 0.4)50%, hsla(0, 69%, 67%, 0.6)50%);
	/* (960 / 12) = 80 + 2 = 160 */
	background-size: 160px 1px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7,
.col-8, .col-9, .col-10, .col-11, .col-12 {
	float: left;
} 

.col-1 { width:80px; }
.col-2 { width:160px; }
.col-3 { width:240px; }
.col-4 { width:320px; }
.col-5 { width:400px; }
.col-6 { width:480px; }
.col-7 { width:560px; }
.col-8 { width:640px; }
.col-9 { width:720px; }
.col-10 { width:800px; }
.col-11 { width:880px; }
.col-12 { width:960px; }

.row::after {
	content: '';
	display: block;
	clear: both;
}





