/*! Grid System 1200px [ 15↔120↔15 ] © yamoo9.net, 2016 */

/* context = 1200px */

/*
 * 페이지 폭 1200px
 * 컬럼 개수: 8
 * 컬럼 너비: 120px
 * 거터의 방향 [양쪽], 앞쪽, 뒷쪽
 * 거터 너비 (15px * 2) = 30px
 * (120px*8) + (30px*8) = 1200px
 */


/* Reset */
html {
  overflow-y: scroll;
}
body {
  margin: 0;
}

/* Page Layout */
.row {
  margin-bottom: 20px;
}

.box {
  height: 100px;
  background-color: #fc414b;
  color: #fff;
  text-align: center;
  line-height: 100px;
  font-weight: 700;
}


/* SHOW GRID MODULE */
.show-grid {
  position: relative;
}

.show-grid::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background: linear-gradient(transparent 9px, hsla(0, 0%, 0%, 0.42) 9px);
  background-size: 1px 10px;
}

.show-grid .container {
  position: relative;
  min-height: 3000px;
}

.show-grid .container::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, 
    transparent 10%, 
    hsla(29, 100%, 64%, 0.3) 15px, 
    hsla(49, 100%, 64%, 0.3) 135px, 
    transparent 90%);
  background-size: 12.5% 1px;
}

.show-grid.overlay::before,
.show-grid.overlay .container::before {
  z-index: 10000;
}

.container {
  /* width: auto; 100% */
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row::after {
  content: '';
  display: block;
  clear: both;
}

[class*="col-"] {
  float: left;
  margin-left: 1.25%;
  margin-right: 1.25%;
  box-sizing: border-box;
}
.col-1 { width: 10%;  }
.col-2 { width: 22.5%;  }
.col-3 { width: 35%;  }
.col-4 { width: 47.5%;  }
.col-5 { width: 60%;  }
.col-6 { width: 72.5%;  }
.col-7 { width: 85%; }
.col-8 { width: 97.5%; }

[class*="push-"],
[class*="pull-"] {
  position: relative;
}
.push-1 { left: 12.5%; }
.push-2 { left: 25%;   }
.push-3 { left: 37.5%; }
.push-4 { left: 50%;   }
.push-5 { left: 62.5%; }
.push-6 { left: 75%;   }
.push-7 { left: 87.5%; }
.push-8 { left: 100%;  }

.pull-1 { right: 12.5%; }
.pull-2 { right: 25%;   }
.pull-3 { right: 37.5%; }
.pull-4 { right: 50%;   }
.pull-5 { right: 62.5%; }
.pull-6 { right: 75%;   }
.pull-7 { right: 87.5%; }
.pull-8 { right: 100%;  }

.prefix-1 { margin-left: 12.5%; }
.prefix-2 { margin-left: 25%;   }
.prefix-3 { margin-left: 37.5%; }
.prefix-4 { margin-left: 50%;   }
.prefix-5 { margin-left: 62.5%; }
.prefix-6 { margin-left: 75%;   }
.prefix-7 { margin-left: 87.5%; }
.prefix-8 { margin-left: 100%;  }

.suffix-1 { margin-right: 12.5%;  }
.suffix-2 { margin-right: 25%;  }
.suffix-3 { margin-right: 37.5%;  }
.suffix-4 { margin-right: 50%;  }
.suffix-5 { margin-right: 62.5%;  }
.suffix-6 { margin-right: 75%;  }
.suffix-7 { margin-right: 88.75%;  }
.suffix-8 { margin-right: 101.25%; }

